@import "~bootstrap-icons/font/bootstrap-icons.css";

.main {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.blue,
.green,
.red {
  color: transparent;
  margin: 0;
  padding: 0;
  opacity: 0.3;
  border-radius: 3px;
}

.red {
  background-color: #f00;
}

.blue {
  background-color: #00f;
}

.green {
  background-color: #0f0;
  position: absolute;
}

.backdrop,
.highlighted {
  padding: 0.375rem 0.75rem;
  border-radius: 0.3em !important;
  min-height: 4rem;
}

.backdrop {
  background-color: transparent;
  position: absolute;

  overflow: auto;
  pointer-events: none;
  border: 1px solid transparent;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
  border: 0;
}

textarea {
  border: 1px solid grey;
  border-radius: 0.3rem;
  resize: none;
  overflow: auto;
}

.highlighted {
  display: block;
  width: 100%;
}

.button-like {
  max-height: 2rem;
  max-width: 2rem;
}
